	<header>
		<h2><%= title %></h2>

		<ul>
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="about-us">About Us</a>
			</li>
			<li>
				<a href="posts">All Posts</a>
			</li>
			<li>
				<a href="add-post">New Post</a>
			</li>
			<li>
				<a href="edit-posts">Edit Post</a>
			</li>
			<li>
				<a href="contacts">Contacts</a>
			</li>
		</ul>
	</header>
	<h2 class="title-page"><%= title %></h2>